@model looselybinding.Models.Employee 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Submitdata", "Home", FormMethod.Post))
        {
            @Html.TextAreaFor(x=>x.Firstname)<br /><br />
            @Html.ValidationMessageFor(x => x.Firstname)<br />

            @Html.TextAreaFor(x=>x.Lastname)<br /><br />
            @Html.ValidationMessageFor(x => x.Lastname)<br />

            @Html.TextAreaFor(x=>x.Email)<br /><br />
            @Html.ValidationMessageFor(x => x.Email)<br />

            @Html.TextAreaFor(x=>x.Age)<br /><br />
            @Html.ValidationMessageFor(x => x.Age)<br />
            <br />
            <input type="submit" value="Click me" />
        }
    </div>
</body>
</html>
